<div id="translation">
	English phrase: <spam class="reference_translation"><%= @reference_translation.translation %></spam>
</div>
<br>

<div id="edit_translation">
	<%= render 'form' %>
</div>


<div id="other_translations">
	<ul>
	<% @translations.each do |t| %>
		<li><span class="translated_list"><%= t.translation %></span> (<%= t.votes.count %>)</li>
	<% end %>
	</ul>
</div>

