<div id="keys">
	<table border="0" cellspacing="5" cellpadding="5">
	<% @translations.each do |t| %>
		<tr>
			<td><%= link_to t.key.english, key_translations_path(t.key.id) %></td><td><%= t.key.most_voted(current_user.language) %></td>
		</tr>
	<% end %>
	</table>
	<br><br>
	<%= will_paginate @translations %>
</div>