/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


body{
 	margin:0px;
	color:#222;
	font-family:arial,sans-serif;
}

a{
	color: #36C;
	text-decoration: none;
}

#container{
	
	padding: 20px;
	width: 660px;
	height: 100%;
	margin: 0 auto;  
	margin-top:50px;
}

.flash{
	box-shadow: 0 0 10px #DDD;  
	-moz-box-shadow: 0 0 10px #DDD;
	color: #000;
	font-weight: bold;
	z-index: 10;
	background-color:#DCDCDC;
	position:absolute;
	top:0px;
    opacity:0.8;
	left: 40%;
	padding:10px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	
}

label{
	display:block;
	padding: 10px 0px;
}
