/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.reference_translation{
	font: 150% Verdana, sans-serif;
	display: block;
}

#container{
	background-color: ghostWhite;
	border: 1px solid #DDD;
	padding: 20px;
	width: 660px;
	height: 100%;
	margin: 0 auto;  
}

#other_translations ul{
	list-style: none;
	padding-left:2px;
}

#other_translations li{
	width: 300px;
	cursor:pointer;
	margin: 5px;
	padding: 3px;
	border: 1px solid ghostWhite;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#other_translations li:hover{
	background-color:#93D1CE;
	border: 1px solid #999;
}

.button{
background-color:#75E6FF;
height:30px;
margin-left:2px;
text-decoration:none;
width:170px;
border: 1px solid #999;
cursor: pointer;
-moz-border-radius: 5px;
border-radius: 5px;
}

.button:hover{
background-color: #DDD;
}

.flash{
	background-color:#656565;
	border: 1px solid #999;
	position:absolute;
	top:0px;
    opacity:0.8;
	left: 40%;
	padding:10px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

label{
	display:block;
}