header{
	background-color:white;
	position:fixed;
	top:0px;
	width:100%;
	border-bottom: 1px solid #DDD;
	height:40px;
	padding: 5px 0px;
	box-shadow: 0 0 10px #DDD;  
	-moz-box-shadow: 0 0 10px #DDD;  
	z-index: 7;

	
	#logo{
		float: left;
		height:100%;
	}
	
	#textlogo{
		color: #575757;
		font-size: 200%;
		margin-top:50px;
		font-family: 'Andada', serif;
		a{
			color: #575757;
		}
	}
	
	#login{
		float:right;
		padding-top:10px;
		padding-right:10px;
		.text{
			padding-top:13px;
		}
	}
	
}
