#search{
	float:right;
	display: block;
}
#keys{
	table{
		margin-top: 50px;
	}
	a{
		padding:5px;
	}
	a:hover{
		background-color: #EFF3FB;
	}
	.most_voted{
		color:#636363;
		font-family: serif;
	}
}